@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #262626;
  color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 90px;
  margin-bottom: 60px;
}

.header h1 {
  font-size: 64px;
  color: #E5C073;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.scoreboard {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
  justify-content: center;
}

.player-name,
.cpu-name {
  font-size: 28px;
  text-transform: uppercase;
}

.player-name {
  color: #B0BCE8;
}

.cpu-name {
  color: #EB9F9F;
}

.scores {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.score-box {
  background: #D9D9D9;
  color: #141414;
  display: flex;
  align-items: center;
  font-size: 28px;
  padding: 0 12px;
  border-radius: 6px;
}

.game-options {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 60px;
}

.option {
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 150px;
  border-radius: 6px;
  cursor: pointer;
}

.display-message {
  font-size: 32px;
  text-align: center;
  margin-bottom: 60px;
}

.reset-btn {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 6px;
  border: solid 3px #614200;
  background-color: #E5C073;
  color: #614200;
  cursor: pointer;
}

.footer {
  font-size: 20px;
  margin-bottom: 60px;
}

.footer a {
  color: #E5C073;
}
